{% extends 'base.html' %}

{% block title %}
    {{user.username}} Dashboard
{% endblock title %}


{% block inside %}
    <H1>ड्यासबोर्ड</H1>
    <hr>
    <div class="row mt-2">
        <div class="col-12 col-lg-3">
            <a href="{%url 'manager:cnews' 'Hot'%}">
                <div class="dashboard-box">
                    <div class="my-auto">
                        <h5>ताजा समाचार</h5>
                        <h6 class="text-danger">आज: {{taja_today}}</h6>
                    </div>
                    <div class="my-auto">
                        <div class="text-center">
    
                            <i class="fab fa-hotjar text-danger" style="font-size: 30px; "></i>
                            <p class="text-danger" >
                                कुल: {{taja}}
                            </p>
                        </div>
                       
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-12 col-lg-3">
            <a href="{%url 'manager:cnews' 'Latest'%}">
                <div class="dashboard-box">
                    <div class="my-auto">
                        <h5>पछिल्लो समाचार</h5>
                        <h6 style="color: rgb(33, 134, 229);">आज: {{pachilo_today}}</h6>
                    </div>
                    <div class="my-auto">
                        <div class="text-center">
                            <i class="fas fa-rss-square" style="font-size: 30px; color: rgb(33, 134, 229);"></i>
                            <p style="color: rgb(33, 134, 229);">
                                कुल: {{pachilo}}</p>
                        </div>
                       
                    </div>
                </div>
            </a>
           
        </div>


        <div class="col-12 col-lg-3">
            <a href="{%url 'manager:cnews' 'Trending'%}">
                <div class="dashboard-box">
                    <div class="my-auto">
                        <h5>ट्रेन्डिङ समाचार</h5>
                        <h6 style="color: rgb(160, 33, 229);">आज: {{trending_today}}</h6>
                    </div>
                    <div class="my-auto">
                        <div class="text-center">
                            <i class="fal fa-newspaper" style="font-size: 30px; color: rgb(160, 33, 229);"></i>
                            <p style="color: rgb(160, 33, 229);">
                                कुल: {{trending}}</p>
                        </div>
                       
                    </div>
                </div>
            </a>
          
        </div>

        <div class="col-12 col-lg-3">
            <a href="{%url 'manager:cnews' 'Normal'%}">
                <div class="dashboard-box">
                    <div class="my-auto">
                        <h5>अन्य समाचार</h5>
                        <h6 style="color: rgb(115, 229, 33);">आज: {{anya_today}}</h6>
                    </div>
                    <div class="my-auto">
                        <div class="text-center">
                            <i class="fal fa-newspaper" style="font-size: 30px; color: rgb(115, 229, 33);"></i>
                            <p style="color: rgb(115, 229, 33);">
                                कुल: {{anya}}</p>
                        </div>
                       
                    </div>
                </div>
            </a>
          
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="view-box">
                <div class="my-auto">
                    <h3 class="d-inline">
                        कुल दृश्य
                    </h3>
                   
                    <i class="far fa-eye" style="font-size: 23px;"></i>

                </div>
                <div class="my-auto">
                    <i class="fas fa-arrow-alt-up" style="font-size: 23px;"></i>
                    <h3 class="d-inline">2000</h3>
                </div>
                
            </div>
        </div>
        <div class="col-12 mt-3">
            <a href="{%url 'manager:allNews'%}">
                <div class="view-box">
                    <div class="my-auto">
                        <h3 class="d-inline">
                            
                            सबै समाचार
                        </h3>
                       
                        <i class="far fa-newspaper" style="font-size: 23px;"></i>
    
                    </div>
                    <div class="my-auto">
                        <i class="fas fa-arrow-alt-up" style="font-size: 23px;"></i>
                        <h3 class="d-inline">{{all_news_count}}</h3>
                    </div>
                    
                </div>
            </a>
         
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 table-responsive">
            <p class="ps-3 my-auto" style="font-size: 20px; font-weight: bold; background-color: #d5d5d5; border-bottom: 2px solid rgb(126, 126, 126);">
                पछिल्लो समाचार
            </p>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">शीर्षक</th>
                    <th scope="col">श्रेणी</th>
                    <th scope="col">छोटो वर्णन</th>
                    <th scope="col">स्थिति</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in all_news  %}
                    <tr>
                        <th scope="row">{{i.id}}</th>
                        <td>  
                            <a href="{%url 'homepage:newsDetails' i.id%}">
                                <div class="cat-item mt-2">
                                    <p class="ps-3 my-auto">
                                        {{i.title}}
                                    </p>
                                    
                                </div>
    
                            </a>
                            <div class="d-flex" style="justify-content:center;">
                                <a href="{%url 'manager:updateNews' i.id%}">
                                    <button class="btn-sm btn-secondary">
                                        <i class="fa fa-edit"></i> Edit
                                    </button>
                                </a>
                                
                                <button class="btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">के तपाइँ निश्चित रूपमा समाचार मेटाउन चाहनुहुन्छ?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        {{i.title}} | यो समाचार हटाउनुहोस्
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a href="{%url 'manager:deleteNews' i.id%}">
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </a>
                                        
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                           
                            
                        </td>
                        <td>
                            <p class="badge bg-secondary">
                                {{i.category}}
                            </p>
                        </td>
                        <td>{{i.short_description}}</td>
                        <td>
                            <p class="badge bg-danger">
                                {{i.status}}
                            </p>
                            
                        </td>
                        
                        {% if i.image %}
                        <td>
                            <img src="{{i.image.url}}" alt="{{i.title}}" style="height: 100px; width: 100px;">
                        </td>
                        {% endif %}
                            
                       
                      </tr>
                     
            
                  
                    {% endfor %}   
                 
                </tbody>
            </table>
             
    
        </div>
    </div>
{% endblock inside %}
    
    