{% extends 'base.html' %}

{% block title %}
    {{user.username}} Dashboard
{% endblock title %}


{% block inside %}
<style>
     #id_image{
        font-family: Arial!important;
    }
</style>
    <H1>समाचार</H1>
    <small>तपाईं समाचार हेर्न, थप्न, अद्यावधिक गर्न र मेटाउन सक्नुहुन्छ</small>
    <hr>
    
    {% for i in messages  %}
    <div class="alert alert-secondary alert-warning alert-dismissible fade show" role="alert">
        {{i}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
   
    {% endfor %}
        
    <div class="row mt-2">
       <div class="col-12 col-lg-9">
            <form action="" method="post" enctype="multipart/form-data">
                {{form}}
                {{form.media}}
                {% csrf_token %}
                <button class="btn btn-primary mt-2">नयाँ समाचार थप्नुहोस्</button>
            </form>
       </div>
        <div class="col-12 col-lg-3"  >
            <div class="d-flex" style="justify-content: space-between;">
                <p class="my-auto" style="font-size: 20px; font-weight: bold; background-color: #d5d5d5; border-bottom: 2px solid rgb(126, 126, 126);">
                    पछिल्लो समाचार
                </p>
                <a href="{%url 'manager:allNews'%}">
                    <div class="badge bg-primary">
                        All News
                    </div>
                </a>
            </div>
           

            {% for i in latest  %}
            <div class="cat-item mt-2">
                <p class="ps-3 my-auto">
                    {{i.title}}
                </p>
            </div>
            {% endfor %}     

        </div>
    </div>
  
{% endblock inside %}
    
    