{% extends 'base.html' %}

{% block title %}
    {{user.username}} Dashboard
{% endblock title %}


{% block inside %}
<style>
    #id_slug{
        font-family: Arial!important;
    }
    #id_image{
        font-family: Arial!important;
    }
</style>
    <H1>श्रेणी</H1>
    <small>तपाईं उप श्रेणी हेर्न, थप्न, अद्यावधिक गर्न र मेटाउन सक्नुहुन्छ</small>
    <hr>
    
    {% for i in messages  %}
    <div class="alert alert-secondary alert-warning alert-dismissible fade show" role="alert">
        {{i}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
   
    {% endfor %}
        
    <div class="row mt-2">
       <div class="col-12 col-lg-9">
            <form action="" method="post" enctype="multipart/form-data">
                {{form}}
                <input type="text" name="edit" id="edit" hidden>
                {% csrf_token %}
                <button class="btn btn-primary mt-2" id="add_btn">नयाँ उप श्रेणी थप्नुहोस्</button>
                <button type="reset" class="btn btn-warning ps-3 mt-2">RESET</button>
            </form>

            
       </div>
        <div class="col-12 col-lg-3 mt-3"  >
            <div class="d-flex" style="justify-content: space-between;">
                <p class="my-auto" style="font-size: 20px; font-weight: bold; background-color: #d5d5d5; border-bottom: 2px solid rgb(126, 126, 126);">
                    सबै उप श्रेणी
                </p>
                
            </div>
           

            {% for i in all_category  %}
            <div class="all-item mt-2" >
                <p class="my-auto text-center">
                    {{i.name}}
                </p>
                <div class="d-flex" style="justify-content:center;">
                    
                    <button class="btn-sm btn-secondary" onclick="editCategory(this,'{{i.id}}', '{{i.name}}', '{{i.slug}}', '{{i.category.id}}')">
                        <i class="fa fa-edit"></i> Edit
                    </button>
                  
                    
                    <button class="btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">के तपाइँ निश्चित रूपमा उप श्रेणी मेटाउन चाहनुहुन्छ?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            {{i.name}} | यो उप श्रेणी हटाउनुहोस्
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{%url 'manager:deleteSubCategory' i.id%}">
                                <button type="button" class="btn btn-danger">Delete</button>
                            </a>
                            
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}     

        </div>
    </div>
    <script>
        function editCategory(self, id, name, slug, category){
            console.log(category.id)
            document.getElementById('add_btn').innerHTML = "अद्यावधिक गर्न"
            parent = self.parentElement
            
            parent.style.backgroundColor = "red"


            document.getElementById('edit').value = id
            document.getElementById('id_category').value = category
            document.getElementById('id_name').value = name
            document.getElementById('id_slug').value = slug
           
    
        }
    </script>
  
{% endblock inside %}
    
    