{% extends 'base.html' %}

{% block title %}
    {{news_all.title}}
{% endblock title %}


{% block seo %}
     <!-- SEO Meta Tags -->
     <meta name="description" content="{{news_all.title}}">
     <meta name="author" content="SajhaSanchar">

     <meta property="og:site_name" content="SajhaSanchar" /> <!-- website name -->
  
     <meta property="og:title" content="{{news_all.title}}"/> <!-- title shown in the actual shared post -->
     <meta property="og:description" content="{{news_all.title}}" /> <!-- description shown in the actual shared post -->
{% endblock seo %}

{% block inside %}
    <div class="row m-0">
        <div class="col-12">
            <div class="newsBox">
                <div class="text-center">
                    <p class="badge bg-primary">{{news_all.category.name}}</p>
                </div>
                
                <h1 class="mt-2 text-center">{{news_all.title}}</h1>
                <div class="info-news">
                    <p>
                        <i class="fa fa-clock"></i>
                        {{news_all.nepali_date}}</p>
                    
                    <p>
                        <i class="fa fa-eye"></i>
                        {{news_all.total_visit}}
                    </p>
                    
                </div>
                {% if news_all.image %}
                    <img class="mt-2" src="{{news_all.image.url}}" alt="{{news_all.title}}">
                {% endif %}
                <hr>
                <p>
                    {{news_all.description|safe}}
                </p>
            </div>
           
            
                
            
        </div>
        <div class="col-12 col-lg-8">
            <h3>अन्य समाचार</h3>
            <hr>
            <div class="row m-0">
                {% for i in other %}
                    {% if i.image %}
                    <div class="col-6 col-lg-4">
                        <a href="{%url 'homepage:newsDetails' i.id %}">
                            <div class="news-card p-0 m-0 mt-4">
                                <div class="row m-0 p-2">
                                    <div class="col-12 m-0">
                                        <img class="news-image" src="{{i.image.url}}" alt="{{i.title}}" style="width: 100%; height: auto;">
                                    </div>
                                    <div class="col-12 m-0">
                                        <h5>{{i.title}}</h5>
                                        <div class="news-bottom">
                                            <small>
                                            
                                                {{i.created_at}}
                                            </small>
                                            <small>
                                                <i class="fa fa-eye"></i>
                                                {{i.total_visit}}
                                            </small>
                                            
                                        </div>
                                        <hr>
                                        <small>
                                            {{i.short_description|truncatewords:15}}
                                        </small>
                                    </div>
                                </div>
                            
                            
                            </div>
                        </a>
                    </div>
                
                    {% endif %}
                {% endfor %}
            </div>
            
                
        </div>
        <div class="col-12 col-lg-4">
 
            <small class="badge bg-primary">
                भर्खरको
            </small>
            <hr>
            <div class="row">
                {% for i in latest  %}
                    <div class="col-12">
                        <a href="{%url 'homepage:newsDetails' i.id %}">
                            <div class="news-card-border ">
                                <h class="text-center">
                                    {{i.title|truncatewords:4}}
                                </h>
                            </div>
                        </a>
                        
                      
                        
                    </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row">
                <div class="fb-page" data-href="https://www.facebook.com/100sgroup100/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/100sgroup100/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/100sgroup100/">100&#039;s Group</a></blockquote></div>
            </div>
        </div>
        
    </div>
{% endblock inside %}
    
    
    