{% extends 'base.html' %}


{% block title %}
    {{selected}} News
{% endblock title %}
    

{% block inside %}
   <!-- Latest News -->
    <div class="row m-0">
        <h4>
            {% if selected == "Hot" %}
                ताजा
            {% endif %}
            {% if selected == "Trending" %}   
                ट्रेन्डिङ
            {% endif %}
            {% if selected == "Latest" %}   
            पछिल्लो
            {% endif %}
                
        </h4>
        <hr>
        {% for i in news_all  %}
            {% if  i.image %}
            <div class="col-lg-6 col-12 m-0">
                <a href="{%url 'homepage:newsDetails' i.id%}">
                    <div class="news-card p-0 m-0 mt-4">
                        <div class="row m-0 p-2">
                            <div class="col-lg-7 col-md-8 col-12 m-0">
                                <img class="news-image" src="{{i.image.url}}" alt="{{i.title}}">
                            </div>
                            <div class="col-lg-5 col-md-4 col-12 m-0">
                                <h5>{{i.title}}</h5>
                                <div class="news-bottom">
                                    <small>
                                    
                                        {{i.created_at}}
                                    </small>
                                    <small>
                                        <i class="fa fa-eye"></i>
                                        {{i.total_visit}}
                                    </small>
                                    
                                </div>
                                <hr>
                                <small>
                                    {{i.short_description|truncatewords:15}}
                                </small>
                            </div>
                        </div>
                    
                    
                    </div>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
<!-- Latest News Ene -->

{% if selected == "Hot" %}
<!-- Hot News and Category -->
<div class="row m-0">
    <div class="col-12 col-lg-9 mt-3">
        <h4>
            अन्य</h4>
        <hr>
        <div class="row">
            {% for i in normal  %}
            
            {% if i.image %}
            <a href="{%url 'homepage:newsDetails' i.id%}">
                <div class="news-card p-0 m-0 mt-4">
                    <div class="row m-0 p-2">
                        <div class="col-lg-7 col-md-8 col-12 m-0">
                            <img class="news-image" src="{{i.image.url}}" alt="{{i.title}}">
                        </div>
                        <div class="col-lg-5 col-md-4 col-12 m-0">
                            <h5>{{i.title}}</h5>
                            <div class="news-bottom">
                                <small>
                                
                                    {{i.created_at}}
                                </small>
                                <small>
                                    <i class="fa fa-eye"></i>
                                    {{i.total_visit}}
                                </small>
                                
                            </div>
                            <hr>
                            <small>
                                {{i.short_description|truncatewords:25}}
                            </small>
                        </div>
                    </div>
                
                
                </div>
            </a>
            {% endif %}
                
            
            {% endfor %}
        </div>

    </div>
    <div class="col-12 col-lg-3 mt-3">
        <small class="badge bg-primary">
            भर्खरको
        </small>
        <hr>
        <div class="row">
            {% for i in latest  %}
                <div class="col-12">
                    <a href="{%url 'homepage:newsDetails' i.id%}">
                        <div class="news-card-border ">
                            <h6 class="text-center">
                                {{i.title}}
                            </h6>
                        </div>
                    </a>
                  
                    
                </div>
            {% endfor %}
        </div>
    </div>
   
</div>
<!-- Hot News -->  
{%else%}
<!-- Hot News and Category -->
<div class="row m-0">
    <div class="col-12 col-lg-9 mt-3">
        <h4>ताजा</h4>
        <hr>
        <div class="row">
            {% for i in hot  %}
            
            {% if i.image %}
            <a href="{%url 'homepage:newsDetails' i.id%}">
                <div class="news-card p-0 m-0 mt-4">
                    <div class="row m-0 p-2">
                        <div class="col-lg-7 col-md-8 col-12 m-0">
                            <img class="news-image" src="{{i.image.url}}" alt="{{i.title}}">
                        </div>
                        <div class="col-lg-5 col-md-4 col-12 m-0">
                            <h5>{{i.title}}</h5>
                            <div class="news-bottom">
                                <small>
                                
                                    {{i.created_at}}
                                </small>
                                <small>
                                    <i class="fa fa-eye"></i>
                                    {{i.total_visit}}
                                </small>
                                
                            </div>
                            <hr>
                            <small>
                                {{i.short_description|truncatewords:25}}
                            </small>
                        </div>
                    </div>
                
                
                </div>
            </a>
            {% endif %}
                
            
            {% endfor %}
        </div>

    </div>
    <div class="col-12 col-lg-3 mt-3">
        <small class="badge bg-primary">
            भर्खरको
        </small>
        <hr>
        <div class="row">
            {% for i in latest  %}
                <div class="col-12">
                    <a href="{%url 'homepage:newsDetails' i.id%}">
                        <div class="news-card-border ">
                            <h6 class="text-center">
                                {{i.title}}
                            </h6>
                        </div>
                    </a>

                </div>
            {% endfor %}
        </div>
    </div>
   
</div>
<!-- Hot News -->  
{% endif %}

{% endblock inside %}
    